.table{
    position: absolute;
    top: 100px;
    left: 500px;
    height: 240px;
    width: 240px;
    display: table;
}

.row{
    display: table-row;
    height: 100%;
}

.box{
    width : 78px;
    height: 78px;
    border: 1px solid black;
    display: table-cell;
}